@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;400;700&display=swap');

/* ========================================
 * Custom Props
 * ===================================== */

:root {
  /* Colors */
  --clr-bg: #001524;
  --clr-fg: #ffecd1;
  --clr-accent: #ff7d00;
  --clr-btn-1: #007745;
  --clr-btn-2: #9b0095;

  /* Borders */
  --border-400: 1px solid;
  --border-600: 2px solid;
  --border-radius: 1px;

  /* Font families */
  --ff-main: 'Open Sans', sans-serif;

  /* Font sizes */
  --fs-200: 1.2rem;
  --fs-300: 1.4rem;
  --fs-400: 1.6rem;
  --fs-600: 1.8rem;

  /* Font weights */
  --fw-400: 400;
  --fw-600: 700;

  /* Layout */
  --gap: 0.8rem;

  /* Transitions */
  --trans: 0.3s ease;

  --box-shadow: 0px -2px 32px 0px rgb(0 0 0 / 40%);
}

/* ========================================
 * Reset
 * ===================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set up the body */
body {
  max-width: 960px;
  margin: auto;
  overflow-x: hidden;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 8px;
}

html {
  font-size: 62.5%;
}

main {
  overflow-y: auto;
}

button {
  background: transparent;
  border: 0;
}

/* remove animations if people have turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ========================================
 * General Styles
 * ===================================== */

:root {
  /* ios: disable zooming in */
  touch-action: none;
}

body {
  background-color: var(--clr-bg);
  font-family: var(--ff-main);
  font-size: var(--fs-400);
  color: var(--clr-fg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;

  /* ios: account for safari address bar */
  height: -webkit-fill-available;
  scrollbar-color: var(--clr-fg) var(--clr-bg);
}

.App {
  padding: 0 var(--gap);
}

h1 {
  font-family: 'Bungee Shade', 'Open Sans';
  color: var(--clr-accent);
}

a,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

a {
  text-decoration: underline;
  text-decoration-color: var(--clr-fg);
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

a:hover {
  text-decoration-thickness: 2px;
  text-decoration-color: var(--clr-accent);
}

/* ========================================
 * Utilities
 * ===================================== */

.flow > * + * {
  margin-top: 0.8rem;
}

.text-bold {
  font-weight: var(--fw-600);
}

/* ========================================
 * Components
 * ===================================== */

/* >>>>>>>>>>>>>>>>>>>>
 * HEADER
 * */

.logo-header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-top: 0.8rem;
  margin-bottom: 1.6rem;

  color: var(--clr-fg);
}

header a {
  margin-right: auto;
  text-decoration: none;
}

header h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
}

header h1 svg {
  fill: var(--clr-accent);
}

.header__mode-selector {
  justify-self: end;
}

.header__mode-selector__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 0;
  height: 4.8rem;
  background-color: transparent;
  text-transform: capitalize;
  cursor: pointer;
}
.header__mode-selector__button svg {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--clr-accent);
}

.header__claim {
  grid-column: 1 / -1;
}

/* >>>>>>>>>>>>>>>>>>>>
 * Navigation + filter btns
 */

.btn,
.nav__item,
.filter-control__btn {
  display: inline-block;
  margin: 8px 8px 8px 0;
  border: var(--border-600);
  border-color: var(--clr-accent);
  border-radius: var(--border-radius);
  padding: 0.3em;
  font-weight: var(--fw-600);
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color var(--trans);
  user-select: none;
}

.btn.active,
.nav__item.active {
  background-color: var(--clr-accent);
  color: var(--clr-bg);
  transition: background-color var(--trans);
}

.btn--small {
  font-size: var(--fs-200);
  margin: 4px 4px 0px 0;
}

.btn__filters {
  border-color: var(--clr-fg);
  margin-left: auto;
}

/* Filter Cotrols */

.filter-control__btn {
  position: relative;
  background-color: transparent;
  border-color: var(--clr-btn-2);
  margin-right: 1rem;
}

.filter-control__btn:first-child {
  margin-right: 0.8rem;
  color: var(--clr-btn-2);
}

.filter-control__btn:not(:first-child)::after {
  content: '\2715';
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: -40%;
  right: 0;
  transform: translateX(50%);

  width: 1.7em;
  height: 1.7em;
  background-color: var(--clr-btn-2);
  border: var(--border-600);
  border-color: var(--clr-fg);
  border-radius: 100vmax;

  font-size: var(--fs-200);
  cursor: pointer;
}

.filter-control__btn.filter-control__btn--all::after {
  display: none;
}

/* >>>>>>>>>>>>>>>>>>>>
 * EVENTS
 */

.event-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(400px - 4px), 1fr));
  gap: var(--gap);
  margin: 2.4rem 0;
}

.event-card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--gap);
  align-items: baseline;
  padding: 3.2rem 1.6rem 2.4rem 1.6rem;
  border: var(--border-400);
  border-color: var(--clr-fg);
  border-radius: var(--border-radius);
}

.event__place {
  font-weight: var(--fw-600);
  hyphens: auto;
}

.event__name {
  grid-column-start: 2;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 1fr 3.2rem;
  align-items: baseline;
  font-weight: var(--fw-600);
}

.event__name svg {
  width: 3.2rem;
  height: 3.2rem;
  margin-left: var(--gap);
  transform: translateY(-10%);
  fill: var(--clr-accent);
}

.event__type {
  position: absolute;
  top: 0;
  right: var(--gap);
  padding-bottom: 1.6rem; /* Make the touch target a bit bigger */
  margin: 0.4rem;
  color: var(--clr-accent);
  font-size: var(--fs-200);
  font-weight: var(--fw-600);
  text-transform: capitalize;
  text-decoration-color: var(--clr-accent);
}

.event__type:hover {
  text-decoration-color: var(--clr-fg);
}

.event__date {
  display: flex;
  gap: 4px;
  grid-column-start: 2;
  grid-column-end: -1;
}

.event__day {
  font-size: var(--fs-200);
}
.event__start-time-hint {
  font-size: var(--fs-200);
  text-decoration-color: var(--clr-accent);
}

/* >>>>>>>>>>>>>>>>>>>>
 * Info Boxes
 */

/* EventsNone */
/* this box appears if no events can be found */
.eventsNone__container {
  border: 1px solid var(--clr-fg);
  border-radius: var(--border-radius);
  padding: 2.4rem;
  color: var(--clr-fg);
  font-size: 1.6rem;
  text-align: center;
}

.eventsNone__svg-container {
  max-width: 12rem;
  max-height: 12rem;
  margin: 1.6rem auto;
}

.eventsNone__svg-container svg {
  fill: var(--clr-accent);
}

.eventsNone__copy {
  color: inherit;
}

/* >>>>>>>>>>>>>>>>>>>>
 * Bottom drawer 
 */

app-drawer::part(app-drawer) {
  background-color: var(--clr-bg);
  box-shadow: var(--box-shadow);
  
}

app-drawer::part(app-drawer-close-btn) {
  color: red;
  font-size: 28px;
}


/* ========================================
 * Animation
 * ===================================== */

.viewTrans {
  animation: viewTrans 0.4s ease-in-out;
}

.svgLoading {
  animation: rotate 2.5s infinite;
}

@keyframes viewTrans {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ========================================
 * Media Queries
 * ===================================== */

/* Tablets */

@media (max-width: 819px) {
  .App {
    max-width: 600px;
    margin: auto;
  }
}

/* Mobiles */

@media (max-width: 600px) {
  .App {
    width: 100vw;
  }

  header {
    grid-template-columns: 2fr 1fr;
  }

  .header__mode-selector__button {
    font-size: 90%;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 56%;
  }

  .event-list {
    grid-template-columns: 1fr;
  }
}

/* Large screens */

@media (min-width: 900px) {
  .App {
    width: 900px;
    margin: auto;
  }
}
