@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;400;700&display=swap');

/* ========================================
 * Custom Props
 * ===================================== */

:root {
  --clr-bg: #001524;
  --clr-fg: #ffecd1;
  --clr-accent: #ff7d00;
  --clr-btn-1: #007745;
  --clr-btn-2: #9b0095;
  --border-radius: 1px;

  /* font-sizes */
  --fs-200: 1.2rem;
  --fs-300: 1.4rem;
  --fs-400: 1.6rem;
  --fs-600: 1.8rem;

  /* font-families */
  --ff-main: 'Open Sans', sans-serif;
}

/* ========================================
 * Reset
 * ===================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

html {
  min-height: 100vh;
  /* prevent layout from jumping to the left if no scrollbar exists */
  /* Happens when switching from a view without to a view with scrollbar or vice versa */
  margin-left: calc(100vw - 100%);
  font-size: 62.5%;
}

/* Set up the body */
body {
  background-color: var(--clr-bg);
  margin: 0;
  font-family: var(--ff-main);
  font-size: var(--fs-400);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  overflow-x: hidden;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations if people have turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* clear link styles */
a:link,
a:hover {
  color: var(--clr-fg);
  text-decoration: none;
}

a:active,
a:visited {
  color: var(--clr-fg);
}

/* ========================================
 * General Styles
 * ===================================== */

.App {
  margin: 1rem;
}

h1 {
  font-family: 'Bungee Shade', 'Open Sans';
  color: var(--clr-accent);
}

/* ========================================
 * Utilities
 * ===================================== */

.flow > * + * {
  margin-top: 0.8rem;
}
.text-bold {
  font-weight: 700;
}

/* ========================================
 * Components
 * ===================================== */

/* HEADER */

header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
  color: var(--clr-fg);
}

header h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
}

header h1 svg {
  fill: var(--clr-accent);
}

.header__mode-selector {
  justify-self: end;
}

.header__claim {
  grid-column: 1 / -1;
}

.header__mode-selector__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  width: 3.2rem;
  height: 3.2rem;
  background-color: transparent;
  cursor: pointer;
}
.header__mode-selector__button svg {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--clr-accent);
}

/* BUTTON NAV */

.nav__item {
  display: inline-block;
  margin: 8px 8px 8px 0;
  border: 2px solid var(--clr-accent);
  border-radius: var(--border-radius);
  padding: 0.3em;
  color: var(--clr-fg);
  font-family: var(--fnt-main), sans-serif;
  font-size: var(--fs-400);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav__item.active {
  background-color: var(--clr-accent);
  color: var(--clr-bg);
  transition: background-color 0.3s ease;
}

.nav__item.tomorrow {
  border-color: var(--clr-accent);
}
.nav__item.tomorrow.active {
  background-color: var(--clr-accent);
  color: var(--clr-bg);
  transition: background-color 0.3s ease;
}

.nav__item.all {
  border-color: var(--clr-accent);
}

.nav__item.all.active {
  background-color: var(--clr-accent);
  color: var(--clr-bg);
  transition: background-color 0.3s ease;
}

/* EVENTS */

.event-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(450px - 4px), 1fr));
  gap: 0.8rem;
  margin: 2.4rem 0;
}

.events {
  width: 90vw;
}

.event-card {
  display: flex;
  position: relative;
  flex-direction: column;
  border: 1px solid var(--clr-fg);
  border-radius: var(--border-radius);
  color: var(--clr-fg);
  font-size: var(--fs-400);
  padding: 2.4rem;
}

.event-card__upper,
.event-card__lower {
  display: flex;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
}
.event-card__lower {
}

.event-card__upper > *:not(:last-child) {
  margin-right: 0.8rem;
}

.event-card__lower > *:not(:last-child) {
  margin-right: 0.8rem;
}

.event-card__lower a {
  word-wrap: anywhere;
}

.event-card__lower svg {
  position: absolute;
  right: 0.8rem;
  width: 3.2rem;
  height: 3.2rem;
  fill: var(--clr-accent);
}

.event__place {
  flex: 0 0 20%;
  text-transform: uppercase;
  font-weight: 700;
}

.event__day {
  font-size: var(--fs-200);
}

.event__time {
  flex: 0 0 20%;
}

.event__name {
  flex: 0 0 64%;
  margin-right: 2rem;
  font-weight: 700;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  text-decoration: underline;
  text-decoration-color: var(--clr-fg);
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.event-card__lower:hover .event__name {
  text-decoration: underline;
  text-decoration-color: var(--clr-accent);
  text-decoration-thickness: 2px;
}

a.event__type {
  position: absolute;
  top: 0;
  right: 0;
  padding-bottom: 0.8rem;
  margin: 0.8rem;
  margin-bottom: 1.6rem;
  color: var(--clr-accent);
  font-size: var(--fs-300);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  text-underline-offset: 4px;
}

a.event__type:hover {
  text-decoration-color: var(--clr-fg);
  text-decoration-thickness: 2px;
}

/* EventsNone */
/* this box appears if no events can be found */
.eventsNone__container {
  border: 1px solid var(--clr-fg);
  border-radius: var(--border-radius);
  padding: 2.4rem;
  color: var(--clr-fg);
  font-size: 1.6rem;
  text-align: center;
}
.eventsNone__svg-container {
  max-width: 12rem;
  max-height: 12rem;
  margin: 1.6rem auto;
}
.eventsNone__svg-container svg {
  fill: var(--clr-accent);
}

.eventsNone__copy {
  color: inherit;
}

/* ========================================
 * Animation
 * ===================================== */

.viewTrans {
  animation: viewTrans 0.4s ease-in-out;
}

.svgLoading {
  animation: rotate 2.5s infinite;
}

@keyframes viewTrans {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ========================================
 * Media Queries
 * ===================================== */

@media (max-width: 400px) {
  html {
    font-size: 56%;
  }

  nav .btn {
    padding: 0.5em 0.5em 0.3em 0.5em;
    font-size: var(--fs-200);
  }
}

@media (max-width: 800px) {
  .event-list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 900px) {
  .App {
    width: 900px;
    margin: auto;
  }
  .events,
  .header {
    width: 100% !important;
  }
}
