@import url("https://fonts.googleapis.com/css2?family=Abel&family=Bungee+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* ========================================
 * Custom Props
 * ===================================== */

:root {
  --clr-bg: #001524;
  --clr-fg: 255, 236, 209; /* #ffecd1 */
  --clr-accent: 255, 125, 0; /*#ff7d00 */

  /* font-sizes */
  --fs-200: 1.2rem;
  --fs-400: 1.6rem;

  /* font-families */
  --ff-main: "Sora", sans-serif;

  /* other */
  --border-radius: 1px;
}

/* ========================================
 * Reset
 * ===================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

html {
  /* prevent layout from jumping to the left if no scrollbar exists */
  /* Happens when switching from a view without to a view with scrollbar or vice versa */
  margin-left: calc(100vw - 100%);
  min-height: 100vh;
  font-size: 62.5%;
}

/* Set up the body */
body {
  font-family: var(--ff-main);
  font-size: var(--fs-400);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-bg);
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations if people have turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* clear link styles */
a:link,
a:hover {
  text-decoration: none;
  color: rgb(var(--clr-fg));
}

a:active,
a:visited {
  color: rgb(var(--clr-fg), 0.6);
}

/* ========================================
 * General Styles
 * ===================================== */

.App {
  margin: 1rem;
}

h1 {
  font-family: "Bungee Outline", cursive;
  color: rgb(var(--clr-accent));
}

/* ========================================
 * Utilities
 * ===================================== */

.flow > * + * {
  margin-top: 0.8rem;
}

/* ========================================
 * Components
 * ===================================== */

/* HEADER */

header {
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
  color: rgb(var(--clr-fg));
}

header svg {
  fill: rgb(var(--clr-accent));
}

header h1 {
  font-weight: 600;
}

/* BUTTON NAV */

nav .btn {
  display: inline-block;
  font-size: var(--fs-400);
  font-family: var(--fnt-main), sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid rgb(var(--clr-accent));
  border-radius: var(--border-radius);
  padding: 0.3em 0.3em 0.1em 0.3em;
  margin: 8px 8px 8px 0;
  color: var(rgb(--clr-fg));
  transition: background-color 0.3s ease;
}

.btn.active {
  background-color: rgb(var(--clr-accent));
  color: var(--clr-bg);
  transition: background-color 0.3s ease;
}

/* EVENTS */

.event-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(450px - 4px), 1fr));
  gap: 0.8rem;
  margin: 2.4rem 0;
}

.events {
  width: 90vw;
}

.event-card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(var(--clr-fg));
  border-radius: var(--border-radius);
  padding: 1.2rem;
  font-size: 16px;
  color: rgb(var(--clr-fg));
}

.event-card__upper,
.event-card__lower {
  position: relative;
  display: flex;
  align-items: bottom;
  margin: 15px 0;
}

.event-card__upper > *:not(:last-child) {
  margin-right: 8px;
}

.event-card__lower > *:not(:last-child) {
  margin-right: 8px;
}

.event-card__lower a {
  word-wrap: anywhere;
}

.event__place {
  flex: 0 0 20%;
  text-transform: uppercase;
  font-weight: bold;
}

.event__day {
  font-size: var(--fs-200);
}

.event__time {
  flex: 0 0 20%;
}

.event__name {
  border-bottom: 2px solid transparent;
  margin-right: 2remk;
  font-weight: bold;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.event__name:hover {
  border-bottom: 2px solid rgb(var(--clr-accent));
}

.event__type {
  position: absolute;
  top: -1.9rem;
  right: 0;
  padding-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(var(--clr-accent));
}

.event__link {
  position: absolute;
  right: 0;
}

.event__link svg {
  width: 3.2rem;
  height: 3.2rem;
  fill: rgb(var(--clr-accent));
}

/* ========================================
 * Animation
 * ===================================== */

.viewTrans {
  animation: viewTrans 0.4s ease-in-out;
}

.svgLoading {
  animation: rotate 2.5s infinite;
}

@keyframes viewTrans {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ========================================
 * Media Queries
 * ===================================== */

@media (max-width: 340px) {
  .btn {
    font-size: 13px;
  }
}

@media (max-width: 800px) {
  .event-list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 900px) {
  .App {
    width: 900px;
    margin: auto;
  }
  .events,
  .header {
    width: 100% !important;
  }
}
